<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kang.mapper.OrdersMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kang.pojo.OrdersEntity" id="ordersMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="receiverName" column="receiver_name"/>
        <result property="receiverMobile" column="receiver_mobile"/>
        <result property="receiverAddress" column="receiver_address"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="realPayAmount" column="real_pay_amount"/>
        <result property="postAmount" column="post_amount"/>
        <result property="payMethod" column="pay_method"/>
        <result property="leftMsg" column="left_msg"/>
        <result property="extand" column="extand"/>
        <result property="isComment" column="is_comment"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>


</mapper>