<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kang.mapper.UsersMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kang.pojo.UsersEntity" id="usersMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="realname" column="realname"/>
        <result property="face" column="face"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>


</mapper>